In [2]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

C:\Users\Kushaagra Mehta\AppData\Local\Temp\ipykernel_26160\2515007990.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
from sklearn import preprocessing

In [1]:
import numpy as np

In [37]:
data = pd.read_csv("train.csv")
data.shape

(668, 11)

In [5]:
data.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.000,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.050,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.000,NaN,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.075,NaN,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S,0

# Preprocessing

In [38]:
data.drop(['Name', 'Ticket','Cabin'], axis=1, inplace=True)
print(data['Sex'].unique())
print(data['Embarked'].unique())
data

['female' 'male']
['S' 'C' 'Q' nan]

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked  Survived
0         2  female  29.0      1      0  26.0000        S         1
1         3    male   NaN      0      0   8.0500        S         0
2         2    male  39.0      0      0  26.0000        S         0
3         3  female  29.0      0      4  21.0750        S         0
4         3    male  25.0      0      0   7.0500        S         0
..      ...     ...   ...    ...    ...      ...      ...       ...
663       2  female  17.0      0      0  10.5000        S         1
664       3    male   NaN      0      0   7.7500        Q         0
665       3    male  32.0      0      0  56.4958        S         1
666       3  female  22.0      0      0   9.8375        S         0
667       3  female   NaN      1      0  15.5000        Q         1

[668 rows x 8 columns]

In [39]:
genders = {'female':1, 'male':0}
embarked = {'S':0, 'C':1, 'Q':2}

tempdata = [data]
for i in tempdata:
    i['Sex'] = i['Sex'].map(genders)
    i['Embarked'] = i['Embarked'].map(embarked)

In [40]:
for i in tempdata:
    print(i['Embarked'])

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
663    0.0
664    2.0
665    0.0
666    0.0
667    2.0
Name: Embarked, Length: 668, dtype: float64

In [51]:
newdata

     Pclass  Sex       Age  SibSp  Parch     Fare  Embarked  Survived
0         2    1  29.00000      1      0  26.0000       0.0         1
1         3    0  29.70056      0      0   8.0500       0.0         0
2         2    0  39.00000      0      0  26.0000       0.0         0
3         3    1  29.00000      0      4  21.0750       0.0         0
4         3    0  25.00000      0      0   7.0500       0.0         0
..      ...  ...       ...    ...    ...      ...       ...       ...
663       2    1  17.00000      0      0  10.5000       0.0         1
664       3    0  29.70056      0      0   7.7500       2.0         0
665       3    0  32.00000      0      0  56.4958       0.0         1
666       3    1  22.00000      0      0   9.8375       0.0         0
667       3    1  29.70056      1      0  15.5000       2.0         1

[668 rows x 8 columns]

In [52]:
newdata = pd.DataFrame(tempdata[0])
mean = newdata.Age.mean()
std = newdata.Age.std()

newdata.fillna(mean, inplace=True)
newdata.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
Survived    0
dtype: int64

In [54]:
x_train = newdata.iloc[:,0:-1]
x_train.shape

(668, 7)

In [55]:
y_train = newdata.iloc[:,-1]
y_train.shape

(668,)

In [56]:
x_train.head()

   Pclass  Sex       Age  SibSp  Parch    Fare  Embarked
0       2    1  29.00000      1      0  26.000       0.0
1       3    0  29.70056      0      0   8.050       0.0
2       2    0  39.00000      0      0  26.000       0.0
3       3    1  29.00000      0      4  21.075       0.0
4       3    0  25.00000      0      0   7.050       0.0

In [57]:
y_train.head()

0    1
1    0
2    0
3    0
4    0
Name: Survived, dtype: int64

In [58]:
logclassify = LogisticRegression()

In [59]:
logclassify.fit(x_train, y_train)

LogisticRegression()

In [60]:
logclassify.score(x_train, y_train)

0.7904191616766467

In [71]:
test = pd.read_csv("test.csv")
test.drop(['Name', 'Ticket', 'Cabin', ], axis=1, inplace=True)
test

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0         2    male   8.0      1      1   36.7500        S
1         1  female  49.0      0      0   25.9292        S
2         3    male   NaN      0      0    7.7375        Q
3         2  female  24.0      2      1   27.0000        S
4         1    male  36.0      0      0   26.2875        S
..      ...     ...   ...    ...    ...       ...      ...
218       3    male  20.0      1      0    7.9250        S
219       1    male  45.0      0      0   26.5500        S
220       1  female  17.0      1      0  108.9000        C
221       3    male  43.0      0      0    6.4500        S
222       2    male  36.5      0      2   26.0000        S

[223 rows x 7 columns]

In [72]:

genders = {'female':1, 'male':0}
embarked = {'S':0, 'C':1, 'Q':2}

temp = [test]
for i in temp:
    i['Sex'] = i['Sex'].map(genders)
    i['Embarked'] = i['Embarked'].map(embarked)

In [73]:
test_clean = pd.DataFrame(temp[0])
mean2 = test_clean.Age.mean()
std2 = test_clean.Age.std()

test_clean.fillna(mean2, inplace=True)
test_clean.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [75]:
test_clean

     Pclass  Sex        Age  SibSp  Parch      Fare  Embarked
0         2    0   8.000000      1      1   36.7500       0.0
1         1    1  49.000000      0      0   25.9292       0.0
2         3    0  29.694775      0      0    7.7375       2.0
3         2    1  24.000000      2      1   27.0000       0.0
4         1    0  36.000000      0      0   26.2875       0.0
..      ...  ...        ...    ...    ...       ...       ...
218       3    0  20.000000      1      0    7.9250       0.0
219       1    0  45.000000      0      0   26.5500       0.0
220       1    1  17.000000      1      0  108.9000       1.0
221       3    0  43.000000      0      0    6.4500       0.0
222       2    0  36.500000      0      2   26.0000       0.0

[223 rows x 7 columns]

In [77]:
logclassify.predict(test_clean)

array([0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 0], dtype=int64)

In [79]:
a = np.array([0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0])

a.shape

(223,)

In [80]:
logclassify.score(test_clean, a)

1.0